


.container{
    display:flex;
    width:98vw;
    height:98vh;
    align-items:center
}

.container table tr td{
    border:1px solid blue;
    justify-content:space-between;
    padding:10px;
    color:black;
    font-weight:500px;
    background-color:green;
    text-align:center;
    font-size:20px;
    width:200px;
}

.container table{
    display:flex;
    flex-direction:column;
    border:3px solid green;
    position:absolute;
    top:30vh;
    left:30vw;
}



input{
    width:400px
}

li{
    border:1px solid blue;
    padding:20px;
    font-weight:900;
    color:black;
}

ul{
    margin-top:20px;
}

.data{
    position:absolute;
    top:70vh;
    left:30vw;
}

.Error{
    color:red;
    display:flex;
    position:absolute;
    top:50vh;
    left:46vw;
}

.button1{
    position: absolute;
    top:2vh;
    left:5vw;
    width:200px;
    background-color: blue;
    border-radius: 100px;
    color:aquamarine;
    font-weight: 900;
    font-size: larger;
    height:50px;
}

.button2{
    position: absolute;
    top:2vh;
    left:80vw;
    height:2vh;

}


.page{
    position:absolute;
    top:50vh;
    left:45vw;
}