
.mainDiv{
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    /* margin-top: 231px;; */
    font-size: 30px;

}

.button{
    width:100%;
    background-color:burlywood;
    height:53px;
    font-size: 30px;


} 

.mainDiv input{
    width:230px;
    height:40px;
}


.Error{
    color:red;
    display:flex;
    position:absolute;
    top:70vh;
    left:46vw;
}

.mainDiv{
    background-image: url('/home/user/Pictures/orgOne/h2.jpg');
    background-size: cover;
    width:100vw;
    height:100vh;
    color:black;
    font-size:20px;
}
